**

!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!tsconfig.json
!next.config.ts
!postcss.config.mjs
!messages/
!messages/**
!src/
!src/**
!public/
!public/**

messages/*.d.json.ts
**/.env
**/.env.*
